<!DOCTYPE html>
<html>
  <head>
    <title>SecretCodes1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">SecretCodes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if current_user %>
        <div class="collapse navbar-collapse pull-right" id="navbarCollapse">
          <% if current_user.admin? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to 'Generate Secret Codes', new_secret_code_path, class: "nav-link" %>
              </li>
            </ul>
          <% end %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to(destroy_user_session_path, method: 'delete', class: 'dropdown-item') do %>
                  Log Out
              <% end %>

            </div>
          </div>
        </div>
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
